Source: hieroglyphic
Section: utils
Priority: optional
Maintainer: Archisman Panigrahi <apandada1@gmail.com>
Build-Depends: debhelper-compat(=10), libgtk-4-dev, libadwaita-1-dev, libglib2.0-0t64 | libglib2.0-0, libcairo2
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: https://github.com/FineFindus/Hieroglyphic
Vcs-Browser: https://github.com/FineFindus/Hieroglyphic
Vcs-Git: https://github.com/FineFindus/Hieroglyphic.git

Package: hieroglyphic
Architecture: amd64
Depends: ${misc:Depends},
	gir1.2-adw-1
Description: Find LaTeX symbols
 If you work with LaTeX, you know it's difficult to memorize the names of all the symbols. Hieroglyphic allows you to search through over 1000 different LaTeX symbols by sketching. Once you found the desired symbol you can copy it to the clipboard by clicking on the entry. Hieroglyphic is based of detexify and is powered by a port of the detexify classifier.
